{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@skawe": "./skawe",
          "@components": "./components",
        }
      }
    ]
  ]
}
